@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {

    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background: url(assests/Images/BG.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.main .box {

    height: 80vh;
    background-color: black;
    width: 100%;
    opacity: 0.64;
    position: absolute;
    top: 0;


}

nav {
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    height: 80px;
}

nav img {
    position: relative;
    z-index: 10;
    width: 170px;
}

nav button {
    position: relative;
    z-index: 10;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: calc(100% - 80px);
    position: relative;
    z-index: 5;

}

.box2> :nth-child(1) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;
    font-size: 56px;
    text-align: center;

}

.box2> :nth-child(2) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;
    font-size: 56px;
    text-align: center;

}

.box2> :nth-child(3) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 30px 0;
    text-align: center;
}

.box2> :nth-child(4) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
}

/* Styling Buttons */
.btn {
    padding: 3px 8px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.btn-red {
    background-color: red;
    font-size: 30px;
    padding: 15px 30px;
    border-radius: 7px;
    font-weight: 550;
}

.main input {
    font-size: 24px;
    padding: 20px 120px 20px 10px;
    border-radius: 7px;
    background-color: rgba(23, 23, 23, 0.5);
    border: 1px solid rgb(80, 74, 74);
}

.border {
    height: 7px;
    background-color: gray;
}

/* Trending Now Section  */
.first {
    margin: 45px 0px;
}

.sec-heading {
    color: white;
    margin-left: 242px;
    font-size: 30px;
    font-weight: 550;
}

.sec-card {
    display: flex;
    align-items: center;
    margin: auto 250px;
    max-width: 69vw;
    gap: 50px;
    padding: 25px;
    overflow-x: scroll;
    /*This is to add scrollbar to the trending now section*/
    scrollbar-width: none;
    /*This is to hide the scrollbar display below the images*/
}

.sec-card img {
    width: 220px;
    border-radius: 7px;
    border: 1px solid white;
}

.second {
    color: white;
    margin: 75px 0px;
}

.second-card {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 250px;
    max-width: 73vw;
    gap: 23px;
    padding: 30px 0px;
}

.second-heading {
    margin-left: 242px;
    font-size: 30px;
    font-weight: 550;
}

.second-box {
    background-color: #192247;
    width: 500px;
    height: 300px;
    border-radius: 25px;
    padding: 35px 20px;

}

.second-box h4 {
    font-size: 29px;
    font-weight: 550;
}
.second-box p{
    margin: 18px 0px;
    font-size: 20px;
    color: white;
}

/*FAQs Section*/
.third{
    color: white;
    margin: 30px 0px;

}
.third h3{
    margin-left: 242px;
    font-size: 30px;
    font-weight: 550;
}
.faq{
    display: flex;
    flex-direction: column;
    max-width: 73vw;
    justify-content: center;
    /* align-items: center; */
    margin: auto 250px;
    gap: 10px;
    padding: 30px 0px;
}
.faqbox{
    background-color: rgba(45, 45, 45, 1);
    height: 30px;
    font-size: 30px;
    padding: 39px 40px;
}