@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {

    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background: url("assests/Images/BG.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw) auto;
    /*Gives zoom effect and responsive bg */
    height: 88vh;
    position: relative;
}

.main .box {
    height: 88vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 60vw;
    margin: auto;
    align-items: center;
    height: 82px;
}

nav img {
    color: red;
    width: 100px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.box2 {
    height: calc(100% - 82px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    gap: 25px;
    padding: 0 30px;
}

.box2> :nth-child(1) {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.box2> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.box2> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.border{
    background-color: grey;
    height: 13px;
}
.btn{
    padding: 10px 15px;
    font-weight: bold;
    background-color: white;
}
.btn-red{
    background-color: red; 
    color:white;
    padding: 3px 24px;
    font-size: 25px;
    border-radius: 8px;
}
.btn-red-sm{
    background-color: red;
    color:white;
}
.main input{
    padding: 3px 24px;
    font-size: 25px;
    border-radius: 8px;
    background-color: rgba(23, 23, 23, 0.3);
}